*{
    margin: 0px;
    padding: 0px;
}
 #toppart{
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: coral;
 }

 #toppart img{
    width: 50px;
 }
  #toppart nav ul{
    display: flex;
    gap: 30px;
    list-style: none;

  }
  #toppart nav ul li a{
    text-decoration: none;
 }